.exo-fonttype {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
}

body{
    background-color: rgba(18, 9, 22, 0.938);
}

h1{
    font-family: "Exo", sans-serif;
    text-align-last: center;
    color: beige;
}

h1:hover{
    opacity: 0.8;
    transition: 0.3s;
    color: black;
    user-select: none;
}

p {
    font-family: "Exo", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: beige;
    
}